<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    将给定整数的位数倒转。例如，<code>1234</code> 应变成<code>4321</code> 。对于负整数，符号应保留在前面；例如，<code>-123</code> 变成<code>-321</code> 。  
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}reverse-integer.png" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>输入：</strong>整数 <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>输出：</strong>整数 <span>({% if is_js %}number{% else %}int{% endif %})</span>. 
</p>


<p>
    <strong>示例</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">

    <strong>如何使用：</strong>
    <i>此函数可用于各种算法挑战、数字谜题和某些数值计算。</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>前提条件</strong>
    <ul>
    <li><i><sup>-109</sup>≤ num ≤<sup>109</sup>.</i></li>
    </ul>
</p>
