<!-- Describe task in general -->

<p>
    Inverser les chiffres d'un nombre entier donné. Par exemple, <code>1234</code> doit devenir <code>4321</code>. Pour les nombres entiers négatifs, le signe doit rester devant; par exemple, <code>-123</code> devient <code>-321</code>.  
</p>

<!-- <p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 83px"/>
</p> -->

<!-- Explain input and output values -->
<p>
   <strong>Entrée:</strong> Entier <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Sortie:</strong> Entier <span>({% if is_js %}number{% else %}int{% endif %})</span>. 
</p>


<p>
    <strong>Exemples:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">

    <strong>Comment l'utiliser:</strong>
    <i>cette fonction peut être utilisée dans divers défis algorithmiques, des puzzles basés sur les nombres et certains calculs numériques.</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Condition préalable:</strong>
    <ul>
    <li><i><sup>-109</sup> ≤ num ≤<sup>109</sup>.</i></li>
    </ul>
</p>
