<!-- Describe task in general -->

<p>
    Odwraca cyfry danej liczby całkowitej. Na przykład, <code>1234</code> powinno stać się <code>4321</code>. W przypadku ujemnych liczb całkowitych, znak powinien pozostać z przodu; np. <code>-123</code> staje się <code>-321</code>.  
</p>

<!-- <p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 83px"/>
</p> -->

<!-- Explain input and output values -->
<p>
   <strong>Wejście:</strong> Liczba całkowita <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Wyjście:</strong> Liczba całkowita <span>({% if is_js %}number{% else %}int{% endif %})</span>. 
</p>


<p>
    <strong>Przykłady:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">

    <strong>Jak jest używana:</strong>
    <i>funkcja ta może być wykorzystywana w różnych wyzwaniach algorytmicznych, zagadkach liczbowych i niektórych obliczeniach numerycznych.</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Warunek wstępny:</strong>
    <ul>
    <li><i><sup>-109</sup> ≤ num ≤<sup>109</sup>.</i></li>
    </ul>
</p>
